html, body {
	margin: 0;
	height: 100%;
}
#c {
	width: 100%;
	height: 100%;
	display: block;
}
#textDiv{
	position: absolute;
	background-color: black;
	border: 8px solid black;
	color: white;
	top: 100px;
	left: 20px;
}
#orbits{
	position: absolute;
	background-color: black;
	color: lightgreen;
	top: 100px;
	right: 100px;
	border: 1px solid lightgreen;
	padding: 5px;
}
.orbits-selected{
	background-color: lightgreen;
	color: black;
}
.orbit{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
}