html, body {
	margin: 0;
	height: 100%;
	font-family: 'Share Tech Mono', monospace;
	font-size: small;
}

/* ----- ThreeJS frame -----*/

#c {
	width: 100%;
	height: 100%;
	display: block;
}

/* ----- Classi generiche -----*/

.uiDiv{
	color: lightgreen;
	border: 1px solid lightgreen;
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 7px 0px lightgreen;
	border-radius: 5px;	
}

.uiButton{
	color: lightgreen;
	background-color: rgba(3, 192, 3, 0.438);
	border: 1px solid lightgreen;
	cursor: pointer;
	border-radius: 2px;
}

.uiButton:hover{
	background-color: rgba(3, 192, 3, 0.767);
}

.hidden{
	display:none;
}

/* ----- Area testo sx -----*/

#textDiv{
	position: absolute;
	top: 100px;
	left: 20px;
	padding: 5px;
}
#textDiv > *{
	padding-bottom: 1px;
	display: flex;
	align-items: center;
}

#textDiv > .title{
	font-weight: bold;
	padding-bottom: 5px;
}
#textDiv > .title ~ .title{
	padding-top:8px;
	padding-top:8px;
}

#textDiv > * > .desc{
	min-width: 15ch;
}
#textDiv > * > .val{
	margin-left: auto;
}
#textDiv > * > .unit{
	min-width: 5ch;
	margin-left: 5px;
}


/* ----- Area selezione scenario -----*/

#orbitsSelector{
	position: absolute;
	top: 100px;
	right: 30px;
	padding: 5px;
}
.orbits-selected{
	background-color: lightgreen;
	color: black;
}
.orbit{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
	box-shadow: 0 0 5px 2px rgba(4, 255, 117, 0.404);
    cursor:pointer;	
    vertical-align:middle;
    padding: 3px;
    text-align: center;	
}

/* ----- Area manovre -----*/

#maneuvers{
	position: absolute;
	bottom: 50px;
	right: 30px;
	padding: 5px;
}

/* Hide prototype div */
#maneuvers > #maneuver-prototype{
	display: none;
	color: yellow;
}

.maneuverToDo{
	color: lightgreen;
}

.maneuverDone{
	color: red;
}

#maneuvers > .maneuver {
	display: flex;
	margin-top: 10px;
}
#maneuvers > .maneuver > .leftCol {
	align-self: center;
	margin-right: 10px;
}


/* ----- Area tempo -----*/

#timeDiv{
	position: absolute;
	top: 5px;
    left: 50%;
    transform: translate(-50%, 0);
	padding: 5px;
	display: flex;
	align-items: center;
}
#timeDiv-currTime{
	min-width: 140px;
}
#timeDiv-speed{
	display: flex;
	align-items: center;
	gap: 5px;
}